	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"  header-shrink="true" scroll-event-interval="5"   id="page-dashboard" class=" page-dashboard">
		
    
<!-- code slide hero -->
<div class="assertive-900-bg slide-box-hero" ng-controller="postsCtrl">
	<ion-slides class="slide-box-hero-content" options="{slidesPerView:1}" slider="data.slider">
		<ion-slide-page class="slide-box-hero-item" ng-repeat="item in data_posts | limitTo : 10:0" ng-if="item.x_featured_media_large!=null" >
    		<div class="slide-box-hero-container" style="background: url('{{item.x_featured_media_large}}') no-repeat center center;">
    			<div class="padding caption">
    				<h2 ng-bind-html="item.title.rendered | strHTML"></h2>
    				<a ng-href="#/smart_web/post_singles/{{item.id}}">>> more</a>
    			</div>
    		</div>
		</ion-slide-page>
	</ion-slides>
</div>
<!-- ./code slide hero -->

<!-- code tag hero -->
<a ng-href="#/smart_web/categories" class="tags-heroes-title light-bg dark">Categories <i class="pull-right icon ion-chevron-right"></i></a>
<div class="light-bg" ng-controller="categoriesCtrl">
	<div class="tags-heroes-content list">
		
        <div class="row">
			<div ng-repeat="item in data_categories | limitTo:2:0" class="col" ng-class="$index ? 'col-33':'col-67'" >
                <a href="#/smart_web/posts/{{item.id}}" class="button button-small button-full ink" ng-class="$index ? 'button-stable' : 'button-assertive'">{{item.name}}</a>
            </div>
		</div>
        
		<div class="row">
			<div ng-repeat="item in data_categories | limitTo:2:2" class="col" ng-class="$index ? 'col-66':'col-33'" >
                <a href="#/smart_web/posts/{{item.id}}" class="button button-small button-full ink" ng-class="$index ? 'button-energized-900' : 'button-stable'" >{{item.name}}</a>
            </div>
		</div>
        
         
		<div class="row">
			<div ng-repeat="item in data_categories | limitTo:2:4" class="col ng-class="$index ? 'col-33':'col-67'" >
                <a href="#/smart_web/posts/{{item.id}}" class="button button-small button-full ink" ng-class="$index ? 'button-stable' : 'button-royal-900'">{{item.name}}</a>
            </div>
		</div>
      
        
	</div>
</div>
<!-- ./code tag hero -->


<!-- code slide thumbnail -->
<a ng-href="#/smart_web/posts/-1" class="slide-box-title stable-bg dark">Posts <i class="pull-right icon ion-chevron-right"></i></a>
<div class="stable-bg dark slide-box-thumbnail" ng-controller="postsCtrl" >
	<ion-slides class="slide-box-thumbnail-content" ng-if="data_posts" options="{slidesPerView:grid80}" slider="data.slider" show-pager="false">
		<ion-slide-page class="slide-box-thumbnail-item" ng-repeat="item in data_posts | limitTo : 16:0" ng-if="item.x_featured_media_large!=null">
			<img class="thumbnail" ng-src="{{item.x_featured_media}}" alt="" />
			<p class="caption"><a ng-href="#/smart_web/post_singles/{{item.id}}" >{{item.title.rendered}}</a></p>
		</ion-slide-page>
	</ion-slides>
</div>
<!-- ./code slide thumbnail -->

 
<!-- code items -->
<div class="intro-box list light-bg dark" ng-controller="postsCtrl" >
    <div class="list" ng-repeat="item in data_posts | limitTo: 5:0">
        <div class="item item-colorful"  ng-bind-html="item.title.rendered | strHTML"></div>
        <div class="item item-text-wrap" ng-class="item.x_featured_media ? 'item-thumbnail-left' : ''">
            <img alt="" class="full-image" ng-src="{{item.x_featured_media}}" ng-if="item.x_featured_media!=null" />
            <span ng-bind-html="item.excerpt.rendered | limitTo:140 | strHTML "></span>
        </div>
        <a class="item button button-clear colorful ink" href="#/smart_web/post_singles/{{item.id}}">More</a>
    </div>
</div>
<!-- ./code items -->


<!-- code slide avatar -->
<a ng-href="#/smart_web/users" class="slide-box-title calm-900-bg">Team <i class="pull-right icon ion-chevron-right"></i></a>
<div class="calm-900-bg slide-box-avatar" ng-controller="usersCtrl" >
    <ion-slides class="slide-box-avatar-content" ng-if="data_users" options="{slidesPerView:grid80}" slider="data.slider" show-pager="false">
    	<ion-slide-page class="slide-box-avatar-item" ng-repeat="item in data_users | limitTo : 16:0" >
    		<img class="avatar" ng-src="{{ item.avatar_urls[96] }}" alt="" />
    	</ion-slide-page>
    </ion-slides>
</div>
<!-- ./code slide avatar -->

<div class="dark-bg stable">
       <div class="padding text-center">&copy smart web, 2017</div> 
</div>


    
		</ion-content>
		<!-- ./content -->
	</ion-view>
