	<ion-view view-title="News" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-news" class="page-news">
		<div class="padding">
  <div >
    <h4>News</h4>
    <p>It's Work<br/>You can create a table or edit this page</p>
  </div>
</div>
<div id="features-wrapper">
				<div class="container">
					<div class="row row-center">
						<div class="4u">
						
							<!-- Box -->
								<section class="box box-feature">
									<a href="#" class="image image-full"><img src="data/images/clients/pic05.jpg" alt="" /></a>
									<div class="inner">
										<header>
											<h2>Put something here</h2>
											<span class="byline">Maybe here as well I think</span>
										</header>
										<p>You can put all kinds of stuff here, though I’m not sure what. Maybe a 
										little bit about one of those things you do that’s so cool?</p>
									</div>
								</section>
					</div>
			</div>	
				</div>
			</div>
<div class="container">
    <div class="row row-center">
      <div class="span12">        
        <ul class="thumbnails">
          <li class="span3">
            <div class="thumbnail">
              <div class="caption">
              	<img src="data/images/clients/img-1.png" alt="">
                <h5>Most</h5>
                <h3>popular</h3>
              </div>  
              <div class="thumbnail-pad">
                  <p>Praesent vestibulum molestie lacus. Aenean noy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>
                  
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <div class="caption">
              	<img src="data/images/clients/img-2.png" alt="">
                <h5>Beauty</h5>
                <h3>Gifts</h3>
              </div>  
              <div class="thumbnail-pad">
                  <p>Praesent vestibulum molestie lacus. Aenean my hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. </p>
               
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <div class="caption">
              	<img src="data/images/clients/img-3.png" alt="">
                <h5>Attention</h5>
                <h3>to Detail</h3>
              </div>  
              <div class="thumbnail-pad">
                  <p>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suipit varius mi. Cum sociis natoque penatibus et.</p>
                  
              </div>
            </div>
          </li>
          <li class="span3">
            <div class="thumbnail">
              <div class="caption">
              	<img src="data/images/clients/img-4.png" alt="">
                <h5>Award-Winning</h5>
                <h3>Fragrances</h3>
              </div>
              <div class="thumbnail-pad">  
                  <p>Nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis.</p>
                  
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  
  
  
 
    	<div class="span8">
        	<div class="clearfix">
                <div class="span4 ">
                    <h4 class="indent-2">Welcome</h4>
                    <p class="lead">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                    <img src="data/images/clients/page1-img1.jpg" alt="" >
                   <h5> Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem.</h5> 
                </div>
                <div class="span4">
                    <h4 class="indent-2">What We Do</h4>
                    <p class="lead">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. </p>
                    <figure class="img-indent"><img src="data/images/clients/page1-img2.jpg" alt="" ></figure>
                    Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. 
                </div>
            </div>
            <h4 class="indent-1">our Capabilities:</h4>
            <p class="lead">Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturien.</p>
            <div class="lists">
            	<div class="span4 left-0">
                    <ul class="list">
                        <li><a href="#">Praesent vestibulum molestie lacus aenean</a></li>
                        <li><a href="#">nonummy hendrerit mauris</a></li>
                        <li><a href="#">Phasellus porta fusce suscipit varius mi</a></li>
                        <li><a href="#">Cum sociis natoque penatibus et magnis dis</a></li>
                    </ul>
                </div>
                <div class="span4">
                    <ul class="list">
                        <li><a href="#">Praesent vestibulum molestie lacus aenean</a></li>
                        <li><a href="#">nonummy hendrerit mauris</a></li>
                        <li><a href="#">Phasellus porta fusce suscipit varius mi</a></li>
                        <li><a href="#">Cum sociis natoque penatibus et magnis dis</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="link">More Info</a>
 
		</ion-content>
		<!-- ./content -->
	</ion-view>
