	<ion-view view-title="School mangement sysytem" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-school_mangement_sysytem" class="page-school_mangement_sysytem">
		<div class="padding">
<div style="text-align: center;">
<h4 style="text-align: center;">School mangement sysytem</h4>
<br /><a run-open-url="" href="http://schoo.sw4ws.online">School mangement system 1</a> <br /><a run-app-browser="" href="http://scooldemo.sw4ws.online">School mangement system 2</a> <br /><a run-webview="" href="http://schoolyemen.sw4ws.online">School mangement system 3<br /><br /></a>
<p style="text-align: center;">smart system<br /><br />You can try any system<br /><br /><img src="data/images/6.png" width="300" height="171" caption="false" /></p>
<button run-social-sharing="" message="Your Message" class="button button-calm icon-left">Share This</button>
  <button run-app-whatsapp message="whatsapp sharing" class="button button-calm icon-left ion-social-whatsapp">Whatsapp</button>
  </div>
</div>
		</ion-content>
		<!-- ./content -->
	</ion-view>
